{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row gap-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician  Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for album in data %}
          <tr>
            <th scope="col">{{album.id}}</th>
            <th scope="col">
              <a href="{% url "edit_musician" album.musician.id %}">
                {{album.musician.first_name}} {{album.musician.last_name}}
              </a>

            </th>
            <th scope="col">{{album.musician.email}}</th>
            <th scope="col">{{album.rating}}</th>
            <th scope="col">{{album.musician.instrument_type}}</th>
            <th scope="col">{{album.name}}</th>
            <th scope="col">{{album.release_date}}</th>
            <th scope="col">
              <button class="btn btn-primary btn-sm ">
                <a href="{% url "edit_album" album.id %}" class="text-white">Edit</a>
              </button>
              <button class="btn btn-warning btn-sm">Delete</button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
{% endblock content %}